[Desktop Entry]
Version=1.0
Type=Application
Name=Omnicom
GenericName=Network Management
Comment=Network management tools
Exec=/usr/bin/omnicom
Icon=omnicom
Terminal=false
Categories=Network;Internet;
Keywords=serial;ssh;telnet;vnc;rdp;tftp;sftp;ftp;smb;snmp;traceroute;iperf;wifi;scanner;network;
