[Desktop Entry]
Version=1.0
Type=Application
Name=OpenGrid
GenericName=Network Management
Comment=Network management tools
Exec=/usr/bin/opengrid
Icon=opengrid
Terminal=false
Categories=Network;Internet;
StartupWMClass=opengrid
Keywords=serial;ssh;telnet;vnc;rdp;tftp;sftp;ftp;smb;snmp;traceroute;iperf;wifi;scanner;network;
