[Desktop Entry]
Version=1.0
Type=Application
Name=Cetus
GenericName=Network Management
Comment=Network management tools
Exec=cetus
Icon=io.github.benjamimgois.cetus
Terminal=false
Categories=Network;Internet;
Keywords=serial;ssh;telnet;vnc;rdp;tftp;sftp;ftp;smb;snmp;traceroute;iperf;wifi;scanner;network;picocom;tty;uart;
StartupNotify=true
StartupWMClass=cetus
