[Desktop Entry]
Version=1.0
Type=Application
Name=Omnicom
GenericName=Network Management
Comment=Network management tools
Exec=omnicom
Icon=io.github.benjamimgois.omnicom
Terminal=false
Categories=Network;Internet;
Keywords=serial;ssh;telnet;vnc;rdp;tftp;sftp;ftp;smb;snmp;traceroute;iperf;wifi;scanner;network;picocom;tty;uart;
StartupNotify=true
StartupWMClass=omnicom
